@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

html {
  height: 100vh;
  width: 100vw;
}

body {
  color: white;
  padding: 104px 104px 0 140px;
  font-family: "Rubik";
  height: 100vh;
  width: 100vw;
  /* background: rgb(2,0,36);
  background: linear-gradient(300deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.7) 100%); */
  opacity: 1;
  transition: 1.5s opacity;

  width: 100%;
  height: 100%;
  background: url('assets/bg-with-gradient2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.row {
  margin-bottom: 55px;
}

.logo-container {
  text-align: right;
}

#days,
#hours {
  font-size: 160px;
  font-weight: 300;
  margin: 0;
  line-height: 148px;
}

.logo {
  width: 95px;
}

.logotype {
  width: 300px;
}

.details {
  font-size: 42px;
  font-weight: 300;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}

.card-header {
  padding-left: 0;
}

.card-header button {
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-size: 24px;
  color: white;
  opacity: 1;
  text-decoration: none;
}

.card-header button:hover {
  color: white;
  text-decoration: none;
}

.card-body {
  padding: 0 0 0 16px;
  line-height: 32px;
  font-size: 16px;
  margin-bottom: 32px;
}

.btn.btn-link.collapsed {
  opacity: 0.8;
}

.speaker {
  margin-bottom: 24px;
}

.speaker-image {
  min-height: 72px;
  min-width: 72px;
  background-size: 100% !important;
}

.speaker-label {
  margin-bottom: 0;
  margin-left: 16px;
  font-weight: 500;
}

.speaker-image.taribo {
  background: url('assets/speakers/taribo.png') no-repeat center center;
}

.speaker-image.dosu {
  background: url('assets/speakers/dosu.png') no-repeat center center;
}

.speaker-image.ayodele {
  background: url('assets/speakers/ayodele.png') no-repeat top center;
}

.speaker-image.oguntuyi {
  background: url('assets/speakers/oguntuyi.png') no-repeat center center;
}

.speaker-image.alexander {
  background: url('assets/speakers/alexander.png') no-repeat center center;
}

.speaker-image.sani {
  background: url('assets/speakers/sani.png') no-repeat center center;
}

.speaker-image.sunday {
  background: url('assets/speakers/sunday.png') no-repeat center center;
}

.speaker-image.edafe {
  background: url('assets/speakers/edafe.png') no-repeat center center;
}

/*  partners */
.speaker-image.oyizz {
  background: url('assets/partners/oyizz.png') no-repeat center center;
}

.speaker-image.dc {
  background: url('assets/partners/dc.png') no-repeat center center;
}

.speaker-image.lsfa {
  background: url('assets/partners/lsfa.png') no-repeat center center;
}

.speaker-image.bet9ja {
  background: url('assets/partners/bet9ja.png') no-repeat center center;
}

.speaker-image.gokada {
  background: url('assets/partners/gokada.png') no-repeat center center;
}

.speaker-image.volt {
  background: url('assets/partners/volt.png') no-repeat center center;
}

/* .card-header:not(.collapsed) {
background:#ee6666;
}

.card-header.collapsed {
background:blue !important;
} */

/*  media queries */
@media (max-width: 990px ) {
  .logo-container + div {
    justify-content: center;
  }
  .logo-container {
    text-align: center;
    margin-bottom: 24px;
  }
  body {
    padding: 24px;
  }
}

@media (max-width: 800px ) {

  .speaker-label {
    margin-left: 0;
  }

  .card-header button {
    font-size: 16px;
  }

  .details {
    font-size: 32px;
    font-weight: 400;
  }

  .card-body {
    padding: 0;
  }

  .speaker-image {
    min-height: 56px !important;
    min-width: 56px !important;
    margin-right: 24px;
  }

  .card-header,
  .card-header button {
    padding-right: 0;
  }
}
